.page-background {
    background-color: #2A442B;
}

.gentona-heading {
    font-family: 'Gentona', sans-serif;
    font-size: 3rem;
    color: #324b31;
    /* Adjust the color as needed */
}

.container-1 {
    margin-top: -50px;
}

.container-text{
    color: aliceblue;
}